.createTask-btn {
  @extend %font-btn-basic;
  width: 240px;
  height: 60px;
  @extend %button-basic;
}

.login-btn {
  width: 160px;
  height: 50px;
  background-color: #fff;
  @extend %font-btn-basic;
  @extend %button-basic;
}

.application-btn {
  width: 221px;
  height: 50px;
  background-color: #fff;
  @extend %font-btn-basic;
  @extend %button-basic;
}

.send-btn {
  width: 300px;
  height: 70px;
  @extend %font-btn-basic;
  @extend %button-basic;
  border-radius: 12px !important;
}

.buy-btn {
  min-width: 308.39px;
  height: 70px;
  @extend %font-btn-basic;
  @extend %button-basic;
  border-radius: 0 0 10px 10px;
  border: none;
}

.btn--yellow {
  background-color: #fce55a;
}

.btn--brown {
  background-color: #353031;
}

.color--white {
  color: white;
}

.btn--basicRadius {
  border-radius: 10px !important;
}
