@import 'landingSeeker/style';
@import 'appJobSeeker/all';
@import 'genereal/all';
@import 'fonts';

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: none; /* Запрещаем изменять размер */
}

h2 {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.content {
  // padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}