@import 'landingSeeker/style';
@import './genereal/style';
@import 'fonts';

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
}
