// .landing-container {
//   margin: 5vh 8vh;
// }

// Header

.landing-header {
  background: url('../../static/landingJobSeeker/header/header-phone.svg') no-repeat;
  background-position: right top;
  background-size: contain;
  height: 90vh;
  padding-top: 5vh;
  @extend %landingContainer-aside;
}

.landingHeader-shape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.landingHeader-navOuner {
  display: flex;
  >li:first-child {
    margin-right: 21px;
  }
}

.landingHeader-content-txt {
  margin-top: 115px;
  > h1 {
    @extend %fontMontserrat;
    text-align: left;
    font-weight: 600;
    font-size: 64px;
  }
  > span {
    display: block;
    max-width: 680px;
    font-style: normal;
    text-align: left;
    font-size: 24px;
  }
}

.landingItem__form {
  @extend %fontMontserrat;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
  height: 60px;
  border: none;
  box-shadow: #a0a0a0 0 0 0 1px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    letter-spacing: -0.3px;
    color: #a0a0a0;
  }
}

.landingContainer__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  border: none;
  width: max-content;
  > div {
    input:nth-child(1) {
      border-radius: 10px 0 0 10px;
      padding: 0 59px;
      &::placeholder {
        text-align: center;
      }
    }
    input:nth-child(2) {
      border-radius: 0 10px 10px 0;
      padding: 0 30px 0 88px;
      &::placeholder {
        text-align: left !important;
      }
    }
  }
}

.content--yellow {
  color: #fce55a;
}

// HowItWorksWrapper

.landingHowItWorksWrapper {
  @extend %landingContainer-aside;
  padding-bottom: 95px;
  padding-top: 100px;
}

.landingHowItWorksWrapper-title {
  @extend %landing-title;
}

.landingHowItWorksWrapper-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 84px;
}

.landingHowItWorksWrapper-listItem {
  &:nth-child(2n + 1) {
    width: 260px;
  }
  &:nth-child(2n) {
    height: 227px;
    align-items: center;
    display: flex;
  }
}

.landingListItem-textBlock {
  text-align: center;
}

.landingListItem-textBlock__title {
  @extend %fontMontserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.landingListItem-textBlock__content {
  @extend %fontMontserrat;
  font-size: 18px;
  line-height: 22px;
  color: #353031;
}

// TariffsWrapper

.landingTariffsWrapper {
  @extend %landingContainer-aside;
  padding-bottom: 100px;
}

.landingTariffs__title {
  @extend %landing-title;
}

.landingTariffs-invitations {
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landingTariffs-invitations__item {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  text-align: center;
  justify-content: space-between;
  padding-top: 55px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 308.39px;
  >li:last-child {
    margin-top: 55px;
  }
}

.invitationsService__name {
  @extend %fontMontserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fce55a;
}

.invitations__motivationToBuy {
  @extend %fontMontserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #353031;
  margin-top: 37px;
}

.invitationsService__number {
  @extend %fontMontserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 32px;
}

.invitationsService__prace {
  @extend %fontMontserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #353031;
  margin-top: 92px;
}

.landingTariffs-additional {
  margin-top: 88px;
  .landingTariffs-additional__item:nth-child(n + 2) {
    margin-top: 42px;
  }
}

.landingTariffs-additional__item {
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
}

.additionalService__name {
  height: fit-content;
  align-self: center;
  @extend %fontMontserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.additionalWrapper__service-prace {
  display: flex;
  flex-direction: row;
}

.additionalService__prace {
  height: fit-content;
  align-self: center;
  margin-right: 125px;
  @extend %fontMontserrat;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #353031;
  >span {
    min-width: max-content;
    display: block;
  }
}

// FeedbackWrapper

.feedbackWrapper {
  @extend %landingContainer-aside;
  padding-bottom: 85px;
}

.formFeedback-outer {
  max-width: 800px;
  margin: 0 auto;
  li {
    display: flex;
    flex-direction: row;
    input, textarea {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }
  >li:last-child {
    margin-top: 32px;
  }
}

.formFeedback-title {
  @extend %landing-title;
  margin-bottom: 84px;
}

.formFeedback-item {
  @extend %input-basic;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  height: 70px;
  padding-left: 43px;
  box-sizing: border-box;
  margin-top: 32px;
  &::placeholder {
    color: #bfc6c8;
  }
  &:nth-child(2) {
    margin-top: 0 !important;
  }
}

.textarrea-item {
  height: 150px !important;
  padding-top: 24px !important;
}

// Landing block create task

.landingBlockCreateTask {
  background-color: #FCE55A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 82px;
  padding-bottom: 82px;
}

.landingBlockCreateTask__title {
  @extend %landing-title;
  margin-bottom: 31px;
}
.createTaskWrapper-btn {
  text-align: center;
}

// Landing footer

.landing-footer {
  padding: 68px 162px 35px;
  background-color: #353031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landingFooter-navList {
  display: flex;
}

.landingFooter-navList {
  > li {
    display: flex;
    flex-flow: column wrap;
  }
}

.landingFooter-navList__item {
  width: 228px;
  text-align: left;
  &:nth-child(n + 2) {
    margin-top: 16px;
  }
  > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}

// Adaptive

@media (max-width: 760px) {
  .landingTariffs-invitations {
    justify-content: center;
  }
  .landingItem-wrapper {
    display: flex;
    flex-direction: column;
    input {
      border-radius: 10px !important;
    }
  }
  .landingContainer__form {
    align-items: center;
  }
  .landingHowItWorksWrapper-list {
    justify-content: center;
    text-align: center;
  }
  .landingHowItWorksWrapper-listItem {
    margin-top: 32px;
  }
}

@media (max-width: 910px) {
  .landing-footer {
    justify-content: center;
  }
  .landingHeader-shape {
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .landingTariffs-invitations {
    justify-content: space-evenly;
  }
}

@media (max-width: 1366px) {
  .landingHeader-content-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    > h1 {
      text-align: center;
    }
    > span {
      text-align: center;
    }
  }
  .landing-header {
    background: url('../../static/landingJobSeeker/header/header-phone-mobile.svg') no-repeat;
    background-position: right top;
    background-size: contain;
    height: fit-content;
  }
  .landingContainer__form {
    align-self: center;
  }
  .landingHeader-content-txt {
    >span {
      align-self: center;
    }
  }
}

@media (max-width: 1500px) {
  .landingHowItWorksWrapper-listItem {
    &:nth-child(2n) {
      height: 227px;
      align-items: center;
      display: flex;
      display: none;
    }
  }
}

