// .landing-container {
//   margin: 5vh 8vh;
// }

.landing-header {
  background: url('../../static/landingJobSeeker/header/header-phone.svg') no-repeat;
  background-position: right top;
  background-size: contain;
  height: 90vh;
  padding-top: 5vh;
  @extend %landingContainer-aside;
}

.landingHeader-shape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingHeader-content-txt {
  margin-top: 115px;
  > h1 {
    text-align: left;
  }
  > span {
    display: block;
    width: 680px;
    font-style: normal;
    text-align: left;
    font-size: 24px;
  }
}

.landingItem__form {
  @extend %fontMontserrat;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
  height: 60px;
  border: none;
  box-shadow: #a0a0a0 0 0 0 1px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    letter-spacing: -0.3px;
    color: #a0a0a0;
  }
}

.landingContainer__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  border: none;
  width: max-content;
  > div {
    input:nth-child(1) {
      border-radius: 10px 0 0 10px;
      padding: 0 59px;
      &::placeholder {
        text-align: center;
      }
    }
    input:nth-child(2) {
      border-radius: 0 10px 10px 0;
      padding: 0 30px 0 88px;
      &::placeholder {
        text-align: left !important;
      }
    }
  }
}

.content--yellow {
  color: #fce55a;
}

// FeedbackWrapper

.feedbackWrapper {
  @extend %landingContainer-aside;
  padding-bottom: 85px;
}

.formFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formFeedback-title {
  @extend %fontMontserrat;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 84px;
}

.formFeedback-item {
  @extend %input-basic;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  height: 70px;
  width: 800px;
  padding-left: 43px;
  box-sizing: border-box;
  margin-top: 32px;
  &::placeholder {
    color: #bfc6c8;
  }
  &:nth-child(2) {
    margin-top: 0 !important;
  }
}

.textarrea-item {
  height: 150px !important;
  padding-top: 24px !important;
}

// Landing footer

.landing-footer {
  padding: 68px 162px 35px;
  background-color: #353031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landingFooter-navList {
  display: flex;
}

.landingFooter-navList {
  >li {
    display: flex;
    flex-flow: column wrap;
  }
}

.landingFooter-navList__item {
  width: 228px;
  text-align: left;
  &:nth-child(n + 2) {
    margin-top: 16px;
  }
  > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}
